<h1><%= pluralize(@projects.size, 'Project')%></h1>

<%= link_to "Add New Project", new_project_path %>

<% @projects.each do |project| %>
  <article>
    <header>
      <%= image_tag(project.image_file_name) %>
      <h2><%= link_to project.name, project %></h2>
    </header>
    <p>
      <%= truncate(project.description, length: 40, separator: ' ') %>
    </p>
    <table>
      <tr>
          <th align="right">Pledge Amount:</th>
        <td><%= number_to_currency(project.target_pledge_amount) %></td>
      </tr>
      <tr>
          <th align="right">Pledging end:</th>
        <td><%= format_pledging_ends_on(project) %></td>
      </tr>
      <tr>
          <th align="right">Website:</th>
        <td><%= project.website %></td>
      </tr>
    </table>
  </article>
<% end %>
<%= render 'footer' %>
